

<div class="container">

    <div class="jumbotron bg-white-transparent">
        <h1 class="display-4">Ready to be a POKEMON MASTER?!</h1>
        
        <hr class="my-4">
        <h3>Find a Wild Pokemon!</h3>
    <form class="create-form">
        <div class="form-group">
            <label for="poke">Call out a name and a pokemon might appear!</label>
            <input type="text" id="poke" name="nickname">
            <button class="btn btn-primary" type="submit">Find Pokemon</button>
        </div>
    </form>
    </div>
    
    <hr>

    <div class="d-flex">
        <div class="card bg-white-transparent col-md-6">
            <h3 class="text-center">Wild Pokemon</h3>
            {{#each pokemon}} 
                {{!-- {{#if appeared}}  --}}
                    {{#unless caught}}
                        {{>pokemon/poke-block}} 
                    {{/unless}}
                {{!-- {{/if}}  --}}
            {{/each}}
        </div>
        <div class="card bg-white-transparent col-md-6">
            <h3 class="text-center">Caught</h3>
            {{#each pokemon}} 
                {{#if caught}} 
                    {{>pokemon/poke-block}} 
                {{/if}} 
            {{/each}}
        </div>
    </div>
</div>